@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Futura Thin";
  src: url('../fonts/Futura\ Thin.ttf');
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.ttf');
}

.productSlider .swiper-button-prev,
.productSlider .swiper-button-next {
  background: #23262f;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.1);
  top: 97%;
  width: 80px;
  height: 70px;
  z-index: 20;
}

.productSlider .swiper-button-prev:hover,
.productSlider .swiper-button-next:hover {
  background: #bf0000;
  transition: all 0.25s ease-in-out;
}

.productSlider .swiper-button-prev {
  left: 90%;
  top: 40%;
}
.productSlider .swiper-button-next {
  left: 90%;
  top: 54%;
}

.productSlider .swiper-pagination {
  top: 24%;
}

.productSlider .swiper-button-prev:after,
.productSlider .swiper-button-next:after {
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .productSlider .swiper-button-prev,
  .productSlider .swiper-button-next {
    display: none;
  }
}

@media (max-width: 320px) {
  .productSlider .swiper-button-prev,
  .productSlider .swiper-button-next {
    display: none;
  }
}


  .newsletter {
    object-position: 50.5232% 11.75%;
  }

  /* Example CSS, adjust as needed */

.hero-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* styles/product/[slug].css (or use inline styles in your component) */

.container {
  max-width: 1200px;
}

